<!DOCTYPE html>
<html>

<head>
	<!-- 页面meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>商品管理</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
	<link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../lib/adminLTE/css/AdminLTE.css">
	<link rel="stylesheet" href="../lib/adminLTE/css/skins/_all-skins.min.css">
	<link rel="stylesheet" href="../css/style.css">
	<script src="../lib/jQuery/jquery-2.2.3.min.js"></script>
	<script src="../lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="../lib/angularjs/angular.min.js"></script>
	<script src="../lib/angularjs/pagination.js"></script>

	<script src="../js/loulan/module/loulan.js"></script>
	<script src="../js/loulan/config/interface-web.js"></script>
	<script src="../js/loulan/service/base-service.js"></script>
	<script src="../js/loulan/controller/base-controller.js"></script>

	<script src="../js/loulan/service/goods-service.js"></script>
	<script src="../js/loulan/controller/goods-controller.js"></script>
</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="loulan" ng-controller="goodsController">
	<!-- .box-body -->

	<div class="box-header with-border">
		<h3 class="box-title">商品审核</h3>
	</div>

	<div class="box-body">

		<!-- 数据表格 -->
		<div class="table-box">

			<!--工具栏-->
			<div class="pull-left">
				<div class="form-group form-inline">
					<div class="btn-group">
						<button type="button" class="btn btn-default" title="删除">
							<i class="fa fa-trash-o" ng-click="delete()"></i> 删除</button>
						<button type="button" class="btn btn-default" title="审核通过" ng-click="changeStatus('2')">
							<i class="fa fa-check"></i> 审核通过</button>
						<button type="button" class="btn btn-default" title="驳回" ng-click="changeStatus('3')">
							<i class="fa fa-ban"></i> 驳回</button>
						<button type="button" class="btn btn-default" title="刷新" ng-click="findPage()">
							<i class="fa fa-refresh"></i> 刷新</button>
					</div>
				</div>
			</div>
			<div class="box-tools pull-right">
				<div class="has-feedback">
					商品名称：
					<input ng-model="goodsSearch.goodsSearch">
					<button class="btn btn-default" ng-click="findPage()">查询</button>
				</div>
			</div>
			<!--工具栏/-->

			<!--数据列表-->
			<table id="dataList" class="table table-bordered table-striped table-hover dataTable">
				<thead>
					<tr>
						<th class="" style="padding-right:0px">
							<input id="selall" type="checkbox" class="icheckbox_square-blue" ng-click="delChange($event, item.id)">
						</th>
						<th class="sorting_asc">商品ID</th>
						<th class="sorting">商品名称</th>
						<th class="sorting">商品价格</th>
						<th class="sorting">一级分类</th>
						<th class="sorting">二级分类</th>
						<th class="sorting">三级分类</th>
						<th class="sorting">状态</th>
						<th class="text-center">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat=" item in list">
						<td>
							<input type="checkbox" ng-click="delChange($event, item.id)">
						</td>
						<td>{{ item.id }}</td>
						<td>{{ item.goodsName }}</td>
						<td>{{ item.price }}</td>
						<td>{{ item.category1Id}}</td>
						<td>{{ item.category2Id }}</td>
						<td>{{item.category3Id }}</td>
						<td>
							<span>
								{{ item.auditStatus ==="1"?"申请中": item.auditStatus ==="2"?"通过审核": item.auditStatus ==="3"?"被驳回":""}}
							</span>

						</td>
						<td class="text-center">
							<a href="http://shop.loulan.com/goods/findOne?id={{ item.id }}" target="_blank">详情</a>
						</td>
					</tr>
				</tbody>
			</table>
			<!--数据列表/-->


		</div>
		<!-- 数据表格 /-->
		<tm-pagination conf="paginationConfig"></tm-pagination>

	</div>
	<!-- /.box-body -->

</body>

</html>